.main
  .header
    .group
      %p.group--group_name 
        = @group.name
      %ul.group--menber_list Menber :
      - @group.users.each do |user|
        =link_to user_path(user) do        
          %li.group--list
            = user.name
        
    .edit_btn
      =link_to edit_group_path(@group), class:"edit_btn--edit" do
        %p Edit

  .view
    .messages
      = render @messages

  .form_message
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input__text', placeholder: 'type a message'
      .form_mask
        = f.label :image, class: 'form_image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-btn'